<div class="modal fade" id="modalSpinnerLoader" style="background-color: rgba(10,10,10,.8);" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="background-color: transparent">
            <div class="modal-body" style="text-align:center">                
                <img src="~/img/icono_periodicidad.jpg" />
            </div>
        </div>
    </div>
</div>

<style>
    .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) !important;
    }
</style>